* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/*Navbar*/
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #4169e1;
  color: aliceblue;
  font-weight: bold;
  padding: 10px 20px;
}

.navbar-home {
  font-size: 18px;
}

.navbar-links {
  display: flex;
}

.navbar-link,
.navbar-home {
  list-style: none;
  padding: 10px 20px;
  border-radius: 20px;
}

.navbar-link .link,
.navbar-home .link {
  display: block;
  text-decoration: none;
  color: aliceblue;
}

.navbar-link:hover,
.navbar-home:hover {
  background-color: #6581d4;
}

.navbar-link:active,
.navbar-home:active {
  background-color: #2150dc;
  position: relative;
  top: 2px;
}

/*Main*/
main {
  min-height: 90vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 52px;
  padding-bottom: 2em;
}

label {
  font-size: 24px;
  font-weight: bold;
}

input,
button {
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 20px;
}

input:focus {
  background-color: #d6def7;
}

button {
  background-color: blueviolet;
  color: aliceblue;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: rgb(164, 97, 227);
}

button:active {
  background-color: rgb(117, 1, 226);
  position: relative;
  top: 2px;
}

.result {
  min-height: 10vh;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 2em;
}
