* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/*Navbar*/
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #4169e1;
  color: aliceblue;
  font-weight: bold;
  padding: 10px 20px;
}

.navbar-home {
  font-size: 18px;
}

.navbar-links {
  display: flex;
}

.navbar-link,
.navbar-home {
  list-style: none;
  padding: 10px 20px;
  border-radius: 20px;
}

.navbar-link .link,
.navbar-home .link {
  display: block;
  text-decoration: none;
  color: aliceblue;
}

.navbar-link:hover,
.navbar-home:hover {
  background-color: #6581d4;
}

.navbar-link:active,
.navbar-home:active {
  background-color: #2150dc;
  position: relative;
  top: 2px;
}

main {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.intro-text {
  text-align: center;
  font-weight: 400;
}

.counter-number {
  text-align: center;
  line-height: 100px;
  font-size: 24px;
  margin: 2em 0;
  background-color: #4169e1;
  min-width: 100px;
  min-height: 100px;
  border-radius: 20px;
  color: #fff;
}

.btn-container {
  background-color: rgb(222, 221, 221);
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button {
  font-size: 16px;
  font-weight: bold;
  padding: 1em 2em;
  background-color: blueviolet;
  color: #fff;
  border-radius: 20px;
  border: none;
  margin: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

button:hover {
  background-color: rgb(156, 93, 215);
}

button:active {
  position: relative;
  top: 2px;
  background-color: rgb(117, 0, 226);
}
