* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/*Navbar*/
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #4169e1;
  color: aliceblue;
  font-weight: bold;
  padding: 10px 20px;
}

.navbar-home {
  font-size: 18px;
}

.navbar-links {
  display: flex;
}

.navbar-link,
.navbar-home {
  list-style: none;
  padding: 10px 20px;
  border-radius: 20px;
}

.navbar-link .link,
.navbar-home .link {
  display: block;
  text-decoration: none;
  color: aliceblue;
}

.navbar-link:hover,
.navbar-home:hover {
  background-color: #6581d4;
}

.navbar-link:active,
.navbar-home:active {
  background-color: #2150dc;
  position: relative;
  top: 2px;
}

main {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

h1 {
  padding-bottom: 2em;
}

p {
  font-size: 1.5em;
  padding-bottom: 0.5em;
  font-weight: 400;
}

span {
  font-weight: bold;
}
